@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-primary: #53c9c2; 
  --color-secondary: #6c757d;
  ---first:"2a6f97"
}

html {
  transition: background-color 0.3s, color 0.3s;
  font-family: sans-serif,'Times New Roman', Times, serif;
} 