@import "tailwindcss";

@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #53c9c2;
  --color-secondary: #0a0a0a;
  --color-fadeprimary: "bef7f4";
  ---first: "2a6f97";
}

html {
  transition: background-color 0.3s, color 0.3s;
  font-family: sans-serif, "Times New Roman", Times, serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

